<div>
    <%= link_to "Home", root_path %>
    <%= link_to "About", pages_about_path %>
    <%= link_to "FAQ's", pages_faq_path %>
    <%= link_to "Posts", posts_path %>
    <%= link_to "New Post", new_post_path %>
</div>