<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <strong><%= @post.title %></strong>
      <hr />
      <%# <%= image_tag post_img(@post.main_image, 'main'), width: '100%' %> %>
    </div>
    <div class="col-lg-4" style='margin-top: 10%; padding: 25px;'>
      <%= @post.body %>
    </div>
  </div>
</div>

<div style="position: fixed; bottom: 0;">
  <% if current_user %>
    <% if current_user.id == @post.user_id %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-light' %> |
    <% end %>
  <% end %>
  <%= link_to 'Back', posts_path, class: 'btn btn-light' %>
</div>
